.slide-enter {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.slide-enter.slide-enter-active {
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
}

.slide-exit {
  opacity: 1;
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px;
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
