.react-calendar {
  width: 100%;
}

.react-calendar__tile {
  font-size: 1em;
  font-weight: 600;
  position: relative;
}

.react-calendar__tile--active,
button.react-calendar__tile--active:enabled:focus,
button.react-calendar__tile--active:enabled:hover {
  background: rgb(130, 216, 216);
}

.dumbbell {
  position: absolute;
  width: 1em;
  margin-left: 0.6em;
  top: 0.65em;
}
