.slide-down-enter {
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}

.slide-down-enter.slide-down-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: all 300ms ease;
}

.slide-down-exit {
  opacity: 1;
  transform: scaleY(1);
}

.slide-down-exit.slide-down-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: all 100ms ease-in;
}
